body {
    background-color: rgb(51, 141, 89);
    min-height: auto;
    max-width: 100%;
}

/* Graphic Calculator */
.navigaiton ul {
    background-color: grey;
}

.navigation a {
    text-decoration: none;
    padding-right: 5px;
    color: black;
    border-right: 1px solid rgb(128, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

.navigation a:hover {
    background: rgb(49, 49, 49);
    color: white;
} 

.navigaiton a:first-child {
    border-right: hidden; 
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: auto;
    padding-top: 50px;
}

.title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator-wrap {
    background-color: grey;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: auto;
    border-radius: 25px;
    gap: 0.25em;
}

#calculator-row button {
    background: rgb(70, 70, 70);
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 100px;
    
}

#calculator-row button:hover {
    background: black;
}

#graphic-entry  {
    max-width: 100%;
    color: black;
    margin-bottom: 5px;
}


/* BMI Calculator */

.bmi-main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.bmi-main-wrap h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.bmi-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: grey;
    max-width: fit-content;
    min-height: auto;
    padding: 20px;
    border-radius: 25px;
}

.bmi-div-wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.bmi-div-wrap label {
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
    color: white;
}

.bmi-submit-button {
    margin-top: 8px;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

.bmi-submit-button:hover {
    background: rgb(26, 26, 26);
    color: white;
}

.bmi-chart {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.bmi-chart div {
    border: 1px solid black;
    text-align: center;

}

.bmi-chart h2 {
    border-bottom: 1px solid black;
    margin: 0;
}

.bmi-chart h3 {
    border-bottom: 1px solid black;
    margin: 0;
}




/* MATERIALS CALCULATOR */
.materials-h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 100px;

}

.materials-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: grey;
    max-width: fit-content;
    min-height: auto;
    padding: 20px;
    margin: 0 auto;
    border-radius: 25px;
}

.material-cost-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}

.materials-form label {
    margin-bottom: 5px;
    align-self: flex-start;
    color: white;
    font-size: 25px;
    padding-right: 5px;

}

.materials-form input {
    margin-right: 10px;
}

#material-button {
    width: 100%;
    max-width: 100%;
    min-height: auto;
    text-align: center;
    margin: 15px auto;
}

#total-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: auto;
    padding-right: 100px;
    padding-left: 100px;
    color: black;
    text-align: center;
}

.materials-choice-form {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 25px;
    justify-content: center;
    align-self: center;
    padding: 20px;
    max-width: 50%;
}

.materials-choice-form label {
    margin-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.materials-choice-form input {
    margin-bottom: 10px;
    border-radius: 25px;
    padding-left: 10px;
}

.materials-choice-form button {
    background: rgb(78, 78, 78);
    border-radius: 25px;
    color: white;
}

.materials-choice-form button:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.entry-materials-choice {
    max-width: 100%;
}

#material-button {
    background: rgb(78, 78, 78);
    color: white;
    border-radius: 25px;
}

#material-button:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.choice-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

