<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Document</title>
</head>
<body>
    <nav class="navigation">
        <ul>
            <a href="{{ url_for('home', option='graphic-calc') }}">Graphic Calculator</a>
            <a href="{{ url_for('home', option='bmi-calc') }}">BMI Calculator</a>
            <a href="{{ url_for('home', option='material-calc') }}">Materials Calculator</a>
        </ul>
    </nav>

    {% if option == 'graphic-calc' %}   <!-- GRAPHIC-CALCULATOR -->
        {% if not num1 %}
            {% set num1 = '' %}
        {% endif %}

        <section class="main-wrapper">
            <div>
                <h1 class="title">Graphic Calculator</h1>
            </div>
            
            <form class="calculator-wrap" method="POST" action="{{ url_for('home', currentNum=currentNum) }}">
                {% if currentNum %}
                    <input type="text" id="graphic-entry" name="graphicEntry" value="{{currentNum}}" disabled>
                {% else %}
                    <input type="text" id="graphic-entry" name="graphicEntry" value="{% set currentNum = ''%}" disabled>
                {% endif %}
                    

                <div id="calculator-row">
                     <button type="submit" name="number" value="1">1</button>
                     <button type="submit" name="number" value="2">2</button>
                     <button type="submit" name="number" value="3">3</button>
                     <button type="submit" name="operator" value="+">+</button>
                     <button type="submit" name="square-root" value=" ">&#8730;</button>
                </div>

                <div id="calculator-row">
                    <button type="submit" name="number" value="4">4</button>
                    <button type="submit" name="number" value="5">5</button>
                    <button type="submit" name="number" value="6">6</button>
                    <button type="submit" name="operator" value="-">-</button>
                    <button type="submit" name="square" value=" ">x<sup>2</sup></button>
               </div>
            
               <div id="calculator-row">
                    <button type="submit" name="number" value="7">7</button>
                    <button type="submit" name="number" value="8">8</button>
                    <button type="submit" name="number" value="9">9</button>
                    <button type="submit" name="operator" value="/">/</button>
                    <button type="submit" name="operator" value="exponent">x<sup>x</sup></button>
                </div>

               <div id="calculator-row">
                    <button type="submit" name="clear" value="c">c</button>
                    <button type="submit" name="number" value="0">0</button>
                    <button type="submit" name="equal" value="=">=</button>
                    <button type="submit" name="operator" value="*">*</button>
                    <button type="submit" name="negative" value="-">-x</button>
                </div>

                <div id="calculator-row">
                    <button type="submit" name="" value="">a</button>
                    <button type="submit" name="" value="=">b</button>
                    <button type="submit" name="" value="*">c</button>
                    <button type="submit" name="" value="-">d</button>
                    <button type="submit" name="decimal" value=".">.</button>
                </div>

                

                <!-- 
                    buttons to add (decimal, )    
                 -->
            </form>
        </section>
    {% endif %}

    {% if option == 'bmi-calc' %}       <!-- BMI-CALCULATOR -->
        <section class="bmi-main-wrap">
            <h1>BMI Calculator</h1>
            <form class="bmi-form-wrap" align="center" method="POST">
                <div class="bmi-div-wrap">
                    <label for="feet">Feet:</label>
                    <input type="text" id="feet" name="feet">
                </div>
                <div class="bmi-div-wrap">
                    <label for="inches">Inches:</label>
                    <input type="text" id="inches" name="inches">
                </div>
                <div class="bmi-div-wrap">
                    <label for="pound">Pounds:</label>
                    <input type="text" id="pound" name="pound">
                </div>
                    
                <button type="submit" class="bmi-submit-button">Get BMI</button>
                
                <div class="bmi-total-wrap">
                    <label>BMI</label>
                    <input type="text" value="{{ bmiValue }}" disabled>
                </div>  
            </form>

            <div class="bmi-chart">
                <!-- TODO this needs to be converted into a table -->
                <div>
                    <h2>BMI</h2>
                    <h3>Below 18.5</h3>
                    <h3>18.5-24.9</h3>
                    <h3>25.0-29.9</h3>
                    <h3>30.0 and Above</h3>
                </div>
                <div>
                    <h2>Weight Status</h2>
                    <h3>Underweight</h3>
                    <h3>Healthy</h3>
                    <h3>Overweight</h3>
                    <h3>Obese</h3>
                </div>
            </div>
        </section>
    {% endif %}

    {% if option == 'material-calc' %}      <!-- MATERIALS-CALCULATOR -->
        <section id="materials-seciton">
            <h1 class="materials-h1">Materials Calculator</h1>
            {% if materialSelect %}
                <div class="choice-form-wrap">
                    <form method="POST" class="materials-choice-form" action="{{ url_for('home', currentNum=currentNum, materialSelect=materialSelect, option = option, totalMaterials=totalMaterials)}}">
                        <label for="select-materials", id="choice-form-label">How many different materials are you planning on purchaceing?</label>
                        <input id="entry-materials-choice" type="text" id="select-materials" name="materials">
                        <button type="submit" id="submit-materials" >Select Amount</button>
                    </form>
                </div>
            {% else %}
                {% set totalMaterials = totalMaterials | int %}
                <form method="POST" class="materials-form" action="{{ url_for('home', currentNum=currentNum, materialSelect=materialSelect, option = option, totalMaterials=totalMaterials) }}">
                    {% for totalMaterial in range(totalMaterials) %}
                        <div class="material-cost-div" method="POST">
                            <label for="material">Material {{ totalMaterial + 1 }}:</label>
                            <input type="text" id="material{{ totalMaterial + 1}}", name="material{{ totalMaterial + 1}}">

                            <label for="cost">Cost {{ totalMaterial + 1}}:</label>
                            <input type="text" id="cost{{ totalMaterial + 1}}", name="cost{{ totalMaterial + 1}}">
                        </div>
                    {% endfor %}

                    <button type="submit" id="material-button">Total</button>
            
                    <div>
                        <label for="total-cost">Cost of Materials:</label>
                        <input type="text" id="total-cost", value="{{ totalMaterialCost }}" disabled>
                    </div>
                    <form method="POST" action="{{ url_for('home', currentNum=currentNum, materialSelect=True, option = 'material-calc', totalMaterials=totalMaterials)}}">
                        <button type="submit" id="material-button" name="back-button", value="back">Back</button>
                    </form>
                </form>
            {% endif %}
                
        </section>
    {% endif %}
</body>
</html>